.titleBox{
    width : 100%;
    height : 150px;
    /* padding-top : 20%; */
    background-color: rgba(0, 0, 0, 0.349);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}.title{
    position: absolute;
    top : -2.5%;
    font-size: 140px;
    width: 100%;
    text-align: center;
}
/* .hidden{
    padding-top: 1000px;
} */

.buttonInvite{
    position : relative;
    background-color: rgba(0, 0, 0, 0.3);
    width : 200px;
    height: 80px;
    left : 0.5%;
    top : 70%;
    border-radius: 10px;
    user-select: none;
    font-size : 50px;
    text-align: center;

    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: off;

}
.buttonInvite:hover{
    background-color: rgba(0, 0, 0, 0.4);

    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-name: on;
}

.description{
    position: relative;
    background-color: aliceblue;
    width : 100%;
    height: 300px;
    top : 1000px;
}

.bot{
    position : relative;
    width : 300px;
    top : -27%;
    left : 100%;
    transform: rotate(-30deg);
}

.end{
    position: relative;
    background-color: rgba(255, 255, 255, 0.199);
    width : 100%;
    height: 300px;
    top : 1500px;
}

.team{
    font-weight: 1000;
}


body{
    margin: 0;
    background-color: rgb(160, 160, 160);
    overflow-x: hidden;
    scroll-margin-top: h;
}

@keyframes on {
    from{
        background-color: rgba(0, 0, 0, 0.3);
    }
    to{
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes off {
    from{
        background-color: rgba(0, 0, 0, 0.4);
    }
    to{
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes botIn {
    from{
        left : 100%;
        transform: rotate(180deg);
    }
    to{
        left : 20%;
        transform: rotate(-30deg);
    }
}

@keyframes botOut {
    from{
        left : 20%;
        transform: rotate(-30deg);
    }
    to{
        left : 100%;
        transform: rotate(180deg);
    }
}